[General]
datapoints = trailingAnnualDividendRate,dividendRate,dividendYield,trailingPE,forwardPE,marketCap,profitMargins,52WeekChange,forwardEps,trailingEps,priceToBook,pegRatio

[Technology]
tickers = MSFT,QCOM,AAPL,IBM,PLTR,CRSR,BB,NVDA,SQ,ORCL,CSCO,TXN,AMD,UBER

[Consumer Cyclical]
tickers = AMZN,TSLA,XPEV,GIII,KSS,BABA,NKE,MCD,SBUX,NIO

[Communication Services]
tickers = ZM,GOOG,FB,DIS,VZ,NFLX,T,SNAP

[Financial Services]
tickers = BNS,TD,V,MA,RY

[Healthcare]
tickers = TDOC,JNJ,PFE,CVS

[Consumer Defensive]
tickers = WMT,PG,PEP,COST

[Industrials]
tickers = HON,BA,GE

